<table class="table">
  <thead>
    <tr>
      <th scope="col">Item Name</th>
      <th scope="col">Description</th>
      <th scope="col">Picture</th>
    </tr>
  </thead>
  <tbody>
    {{#each items as |item|}}
      <tr>
        <td><a href="/item/{{item.id}}">{{item.item_name}}</a></td>
        <td>{{item.item_description}}.</td>
        <td> <img src="{{split_url item.item_image}}" class="img-thumbnail" alt="{{item.item_name}}" /></td>
      </tr>
    {{/each}}
  </tbody>
</table>